//color
$white: #fff;
$black: #000;
$gray: #555;
$dark: #5b5b5b;
$orange: #e67e22;
$yeallow: rgb(255, 204, 128);
$colors: ( white: $white, black: $black, gray: $gray, dark: $dark, orange: $orange, yeallow: $yeallow);